<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <meta name="description" content="Bernard Nijenhuis • Front-end Developer • Katwijk, The Netherlands • Father of 3 kids • Husband to 1 wife • Owner of 2 cats" />
  <meta name="theme-color" content="#ffffff" />

  <meta property="og:title" content="{% if page.url == "/" %}Bernard Nijenhuis • Front-end Developer{% else %}{{ pageTitle }}{% endif %}" />
  <meta property="og:url" content="{{ page.url }}" />
  {% if tags %}
  <meta property="og:image" content="https://bnijenhuis.nl/img/social-preview-images/{{ page.date | postDate }}-{{ pageTitle | slug }}-preview.jpeg" />
  <meta property="og:image:secure_url" content="https://bnijenhuis.nl/img/social-preview-images/{{ page.date | postDate }}-{{ pageTitle | slug }}-preview.jpeg" />
  {% else %}
  <meta property="og:image" content="https://bnijenhuis.nl/img/default-preview.jpeg" />
  <meta property="og:image:secure_url" content="https://bnijenhuis.nl/img/default-preview.jpeg" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@bnijenhuis" />
  <meta name="twitter:creator" content="@bnijenhuis" />

  <title>{% if page.url == "/" %}Bernard Nijenhuis • Front-end Developer{% else %}{{ pageTitle }}{% endif %} | bnijenhuis</title> 
  
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.webmanifest">
  
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="webmention" href="https://webmention.io/bnijenhuis.nl/webmention" />
  <link rel="pingback" href="https://webmention.io/bnijenhuis.nl/xmlrpc" />

  <link rel="preload" href="/fonts/Asap-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin>

  <script>
    let theme = (localStorage.getItem('theme')) ? localStorage.getItem('theme'): 'system';
    document.querySelector('html').classList.add('theme-' + theme);
  </script>
  <link rel="stylesheet" href="{{ '/css/style.css' | url | bust }}">
  
</head> 
<body> 
  {{ content }}

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js');
    }
  </script>

</body> 
</html>
