---
layout: layout.liquid
---

<header>
    <div class="logo">
        <a href="/" title="Back to homepage">{{ '/img/bnijenhuis.svg' | printFileContents }}</a>
    </div>
    {% include 'themes' %}
</header>

<main>

    <h1>{{ pageTitle }}</h1>

    <p>Posted on: <time datetime="{{ page.date | postDate }}">{{ page.date | readablePostDate }}</time></p>

    {{ content }}

</main>

{% include 'webmentions' %}

<footer>
    <a href="/" title="Back to homepage">Back to homepage</a>
</footer>