<section class="webmentions" data-posturl="{{ metadata.url | slice: 0, -1 }}{{ page.url }}" {% if aliasUrl and "{{ aliasUrl }}" != "" %}data-posturlalias="{{ metadata.url | slice: 0, -1 }}{{ aliasUrl }}"{% endif %}>
    <h2>Likes, reposts and/or replies</h2>
</section>
<script src="{{ '/js/webmentions.js' | url | bust }}"></script>